/* css */

body{
    background-color: #D1F2BB;
}

h1{
    font-family: 'Karla';
    font-weight: bold;
    font-size: 40px;
}

h2{
    font-family: 'Karla';
    font-weight: bold;
    font-size: 40px;
}

p{
    font-family: 'Karla';
    font-weight: bold;
    font-size: 30px;
}

label{
    margin-bottom: 10rem;
}

p.description{
    font-size: 20px;
}


.sky-border-bottom{
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #0A5C36;
    margin-top: 1rem;
}

.taskList{
    font-family: 'Karla';
    font-size: 30px;
}
/* .container input:checked ~ .checkmark {
    background-color: red;
  } */



